* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Pokemon Solid', sans-serif;
}

.header,
.footer {
  width: 100%;
  height: 50px;
  background-color: lightblue;
  text-shadow: 2px 2px blue, 0 0 5px #0000FF;
}

.header ul {
  margin-right: 12px;
  display: flex;
  justify-content: right;
  list-style-type: none;
}

.header li {
  padding: 0 12px;
  margin-right: 12px;
}

.header a {
  text-decoration: none;
  color: yellow;  
}